
appdirs==1.4.4
atomicwrites==1.4.0
distlib==0.3.9
Flask-Cors==5.0.0
graphviz==0.20.3
gunicorn==23.0.0


jsonpointer==2.1

liac-arff==2.5.0
mkl-service==2.4.2
panadas==0.2
protobuf==3.20.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==69.5.1
virtualenv==20.28.0
wheel==0.43.0
nbformat>=5.0.0


